* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .headerFixed {
  position: fixed;
  width: 100%;
  background-color: #008374;
  z-index: 98;
}
header .btnHamburguer {
  display: none;
}
header .ajustHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  height: 100px;
}
header .ajustHeader .logo img {
  width: 110px;
  margin-top: 20px;
  display: block;
}
header .ajustHeader .noneImg {
  display: none;
}
header .ajustHeader .menuNav .logoMobil {
  display: none;
}
header .ajustHeader .menuNav ul {
  display: flex;
  gap: 35px;
}
header .ajustHeader .menuNav ul li a {
  color: #fff;
  font-size: 1.2rem;
  transition: all 1s;
  position: relative;
  transition: 1s;
}
header .ajustHeader .menuNav ul li a:hover::after {
  content: "";
  width: 40px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #00ADEF;
  position: absolute;
}
header .ajustHeader .copy {
  display: none;
}
header .headerInfo {
  padding-top: 70px;
  background-color: #008374;
}
header .headerInfo .header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding-top: 90px;
}
header .headerInfo .header .col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
header .headerInfo .header .col1 .titleHeader {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
header .headerInfo .header .col1 .subtitleHeader {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7058823529);
  margin-bottom: 15px;
}
header .headerInfo .header .col1 .contactHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
header .headerInfo .header .col1 .contactHeader .contact button {
  background-color: transparent;
  border: 2px solid #36CDBC;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  transition: ease-in 0.5s;
}
header .headerInfo .header .col1 .contactHeader .contact button:hover {
  border: 2px solid #00ADEF;
  box-sizing: border-box;
}
header .headerInfo .header .col1 .contactHeader .videoheader .modal-video span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #00ADEF;
  cursor: pointer;
}
header .headerInfo .header .col1 .contactHeader .videoheader .modal-video span i {
  font-size: 2.2rem;
  color: #00ADEF;
}
header .headerInfo .header .col2 {
  flex: 0.7;
}
header .headerInfo .cardsHeaderContainer {
  position: absolute;
  top: 82vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
header .headerInfo .cardsHeaderContainer .card-item {
  flex: 1;
  background-color: #36CDBC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px 30px;
  border-radius: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
header .headerInfo .cardsHeaderContainer .card-item div img {
  width: 100px;
}
header .headerInfo .cardsHeaderContainer .card-item div h3 {
  color: #008374;
}
header .video {
  background-color: #008374;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: ease 5s;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
header .video .fa-circle-xmark {
  display: flex;
  position: absolute;
  top: 30px;
  right: 7%;
  font-size: 30px;
  cursor: pointer;
  color: #36CDBC;
}
header .close {
  display: flex;
}

@media (max-width: 768px) {
  header .btnHamburguer {
    display: flex;
    position: fixed;
    right: 15px;
    top: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #36CDBC;
    z-index: 9999;
    animation-name: animationBtbMenu;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
    animation-direction: alternate;
  }
  header .btnHamburguer .fa-circle-xmark {
    display: none;
  }
  header .ajustHeader .menuNav {
    background-color: #008374;
    width: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    transition: all 0.5s linear;
  }
  header .ajustHeader .menuNav .logoMobil {
    display: block;
    text-align: center;
    margin: 70px 0 50px 0;
    width: 100%;
    position: relative;
  }
  header .ajustHeader .menuNav .logoMobil img {
    width: 100px;
  }
  header .ajustHeader .menuNav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  header .ajustHeader .menuNav .copy {
    display: block;
    width: 300px;
    text-align: center;
    color: #36CDBC;
    position: absolute;
    bottom: 50px;
  }
  header .ajustHeader .openModal {
    display: flex;
  }
}
@keyframes animationBtbMenu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
main {
  padding-top: 200px;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 1300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  width: 100%;
}

h2 {
  background-color: #000;
  font-weight: 700;
  font-size: 2rem;
}

p {
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */