*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import"../assets/color";
@import"../assets/heade";
@import"../assets/main";

html{
    // scroll-behavior: smooth ;
}

body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    max-width: 1400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 5px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
}

img{
    width: 100%;
}

h2{
    background-color: #000;
    font-weight: 700;
    font-size: 2rem;
}

p{
    font-size: 1rem;
}
