// Primary Colors

$primary-color:#008374;
$primary-light:#36CDBC;
$primary-dark:#001A17;


// Neotral Colors

$white:#fff;
$black:#000;
$gray-light: #ecf0f1;
$gray-dark: #7f8c8d;

// color logo

$secondary-color:#00ADEF;


