// Primary Colors

$color-dark:#004DA6;
$primary-color:#ffff;
$primary-light:#36CDBC;


// Neutro Colors

$gray-dark: #7f8c8d;
$black:#000;
$gray-light: #ecf0f1;

// color logo

$secondary-color:#00ADEF;

// color destaque

$color-destaque: red;

$white:#fff;


