header {
  .headerFixed {
    position: fixed;
    width: 100%;
    background-color: $primary-color;
  }
  .btnHamburguer {
    display: none;
  }
  .ajustHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 100px;
    .logo {
      img {
        width: 110px;
        margin-top: 20px;
        display: block;
      }
    }
    .noneImg {
      display: none;
    }

    .menuNav {
      .logoMobil {
        display: none;
      }

      ul {
        display: flex;
        gap: 35px;

        li {
          a {
            color: $white;
            font-size: 1.2rem;
            transition: all 1s;
            position: relative;
            transition: 1s;
          }
          a:hover::after {
            content: "";
            width: 40px;
            height: 3px;
            bottom: 0;
            left: 0;
            border-radius: 10px;
            background-color: $primary-light;
            position: absolute;
          }
        }
      }
    }
    .copy {
      display: none;
    }
  }

  .headerInfo {
    display: flex;
    flex-direction: row;
    height: 120vh;
    // background-color: $primary-color;
    padding-top: 120px;
    .header {
      display: flex;
      flex-direction: row;
      height: 120vh;
      // background-color: $primary-color;
      padding-top: 120px;
      .col1,
      .col2 {
      }
      .col1 {
        flex: 1;
        .titleHeader {
          color: $white;
          font-size: 3rem;
          font-weight: bold;
        }
        .subtitleHeader {
          font-size: 22px;
          font-weight: 400;
          color: $gray-dark;
        }

        .contactHeader {
          display: flex;
          flex-direction: row;
          gap: 50px;
        }
      }
      .col2 {
        flex: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .btnHamburguer {
      display: flex;
      position: fixed;
      right: 15px;
      top: 30px;
      font-size: 30px;
      cursor: pointer;
      color: $primary-light;

      z-index: 9999;

      animation-name: animationBtbMenu;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 4;
      animation-direction: alternate;
      .fa-circle-xmark {
        display: none;
      }
    }

    .ajustHeader {
      .menuNav {
        background-color: $primary-color;
        width: 300px;
        display: none;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        position: fixed;
        height: 100vh;
        right: 0;
        top: 0;
        transition: all 0.5s linear;
        .logoMobil {
          display: block;
          text-align: center;
          margin: 70px 0 50px 0;
          width: 100%;
          position: relative;
          img {
            width: 100px;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          width: 100%;
          text-align: center;

          li {
            a {
            }
          }
        }
        .copy {
          display: block;
          width: 300px;
          text-align: center;
          color: $primary-light;
          position: absolute;
          bottom: 50px;
        }
      }
      .openModal {
        // width: 300px;
        display: flex;
        // opacity: 1;
        // visibility: visible;
      }
    }
  }
}

@keyframes animationBtbMenu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
