main {
  padding-top: 200px;
  padding-right: 10px;
  overflow-x: hidden;
  .titleSection {
    width: 100%;
    text-align: start;
    padding-bottom: 50px;
    h3 {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      color: $secondary-color;
    }
    h3::before {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 40px;
      height: 4px;
      border-radius: 10px;
      background-color: $primary-color;
    }
  }
  .about {
    .colsConatinerSectionOn {
      display: flex;
      flex-direction: row;
      gap: 80px;

      .colSection-on {
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 40px;

        .titleLocation {
          p {
            font-weight: 400;
            font-size: 1.3rem;
            // text-transform: uppercase;
            strong {
              font-weight: 600;
              color: $primary-color;
            }
          }
        }

        .textLocation {
          width: 100%;

          p {
            font-size: 1rem;
            font-weight: 300;
            text-indent: 30px;
            strong {
              font-weight: normal;
            }
          }
        }

        .slider {
          max-width: 600px;
          overflow: hidden;
          border-radius: 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          position: relative;
          .slides {
            width: 400%;
            // height: 400px;
            display: flex;
            input {
              display: none;
            }

            #radio1:checked ~ .first {
              margin-left: 0;
            }
            #radio2:checked ~ .first {
              margin-left: -25%;
            }
            #radio3:checked ~ .first {
              margin-left: -50%;
            }
            #radio4:checked ~ .first {
              margin-left: -75%;
            }

            .slide {
              width: 25%;
              // position: relative;
              transition: 1s;
              img {
                width: 100%;
                height: 100%;
              }
            }

            .navigation-auto div {
              border: 2px solid $secondary-color;
              padding: 5px;
              border-radius: 10px;
              cursor: pointer;
              transform: 1s;
            }
            .navigation-auto {
              position: absolute;
              width: 100%;
              margin-top: 360px;
              display: flex;
              justify-content: center;
              bottom: 26.5px;
            }
            .navigation-auto div:not(:last-child) {
              margin-right: 40px;
            }

            #radio1:checked ~ .navigation-auto .auto-btn1 {
              background-color: $secondary-color;
            }
            #radio2:checked ~ .navigation-auto .auto-btn2 {
              background-color: $secondary-color;
            }
            #radio3:checked ~ .navigation-auto .auto-btn3 {
              background-color: $secondary-color;
            }
            #radio4:checked ~ .navigation-auto .auto-btn4 {
              background-color: $secondary-color;
            }
          }
          .mnual-navigation {
            position: absolute;
            width: 100%;
            margin-top: -40px;
            display: flex;
            justify-content: center;
            .manual-btn {
              border: 2px solid #fff;
              padding: 5px;
              border-radius: 10px;
              cursor: pointer;
              transition: 1s;
            }

            .manual-btn:not(:last-child) {
              margin-right: 40px;
            }
            .manual-btn:hover {
              background-color: #fff;
            }
          }
        }
      }

      .colSection-two {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title-two {
          h3 {
            font-weight: 400;
            font-size: 1.3rem;

            strong {
              color: $primary-color;
            }
          }
        }
        .listService {
          ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            li {
              i {
                padding-right: 10px;
                color: $secondary-color;
                font-size: 20px;
              }
              strong {
                color: $primary-color;
              }
            }
          }
        }
        .btnHistory {
          color: red;
          width: 250px;
        }
      }
    }
  }

  // Serviço -------------------------------


  .services {
    padding: 100px 0 150px 0;

    .titleSection{
      padding-bottom: 80px;
    }

    .subtitle--service{
      padding: 0 0 120px 0;
      text-align: center;
      h2{
        background-color: #fff;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $primary-color;
      }
    }

    .service--cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;  
      width: 100%;
      gap: 19px;
      .card--item {
        // flex: 1;
        width: 300px;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .card--img {
          height: 180px;
          display: flex;
          justify-content: center;
          img {
            border-radius: 15px;
            width: 100%;
            display: block;
          }
        }
        .card--title {
          display: flex;
          align-items: center;
          height: 40px;
          h4 {
            color: $primary-color;
            text-transform: uppercase;
            font-size: 1rem;
            text-align: start;
          }
        }
        .card--text {
          height: 60px;

          p {
            font-size: 0.9rem;
            font-weight: normal;
            text-align: start;

            strong{
              color: $gray-dark;
            }
          }
        }

        .card--button {
          position: relative;
          button {
            background-color: transparent;
            padding: 10px 15px;
            border-radius: 7px;
            border: 1px solid $primary-light;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 500;
            color: $primary-color;
            transition: 0.5s;
          }
          button:hover {
            border: 1px solid $secondary-color;
            color: $secondary-color;
          }
          span {
            i {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }


  // Testemunhas --------------------------


  .testemunhas{
    overflow: hidden;
    padding-bottom: 200px;
    .titleSection{
      padding: 60px 0;
    }

    .testemunhas--subtitle{
      padding: 0 0 120px 0;
      text-align: center;
      h2{
        background-color: #fff;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $primary-color;
      }
    }
    .slider--container{
        width: 100%;
        margin: 0 auto;
        height: 500px;
        overflow: hidden;

      .slides--cards{
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 400%;
        height: 400px;
        margin: 10px;

      

        input{
          display: none;
        }

        .slide--card-item{
          background-color: $white ;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 7.7%;
          position: relative;
          .slide-card-img{
            display: flex;
            img{
              width: 80px;
              border-radius: 50%;
            }
          }

          .slide-card-tite{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3{
              font-size: 16px;
            }
            p{
              font-size: 12px;
              color: $gray-dark;
            }

            .card-star{
              display: flex;
              flex-direction: row;
              i{
                color: #FFC107;
              }
            }
          }

          .slide-card-text{
            font-style: italic;
            font-weight: 400;
            text-indent: 30px;
            margin-top: 15px;
          }
        }

      }
      .manual-navigaton{
        position: absolute;
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .manual-btn{
          border: 2px solid $primary-color;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;

        }
      }
      .manual-navigaton .manual-btn:not(:last-child){
        margin-right: 40px;
      }

      .manual-navigaton .manual-btn:hover{
        background-color: $primary-color;
      }
      
      #radio1:checked ~ .first{
        margin-left: 0;
      }
      #radio2:checked ~ .first{
        margin-left: -25%;
      }

      
    }
  }
}

@media (max-width: 768px) {
  main {
    .about {
      .colsConatinerSectionOn {
        .colSection-on {
          .titleLocation {
            p {
              font-size: 16px;
            }
          }
        }
        .colSection-two {
          .title-two {
            h3 {
              font-size: 1rem;

              strong {
                color: $primary-color;
              }
            }
          }
          .listService {
            ul {
              gap: 8px;
              li {
                font-size: 0.9rem;
                strong {
                  color: $primary-color;
                }
              }
            }
          }
          .btnHistory {
            color: red;
            width: 250px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  main {
    padding-top: 120px;
    .about {
      .colsConatinerSectionOn {
        flex-direction: column;
        .colSection-on {
          .titleLocation {
            p {
              font-size: 16px;
            }
          }

          .slider {
            margin-right: 10px;
            .slides {
            }
          }
        }
        .colSection-two {
          .title-two {
            h3 {
              font-size: 1rem;

              strong {
                color: $primary-color;
              }
            }
          }
          .listService {
            ul {
              gap: 8px;
              li {
                font-size: 0.9rem;
                strong {
                  color: $primary-color;
                }
              }
            }
          }
          .history {
            margin-right: 10px;
          }
          .btnHistory {
            color: red;
            width: 250px;
          }

          .btnHistory {
            margin-left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    
    .services{
      .service--cards{

        .card--item{
          width: 100%;
        }
      }

      .subtitle--service{
        padding: 0 0 80px 0;
        text-align: center;
        h2{
          background-color: #fff;
          font-size: 1rem;
          text-transform: uppercase;
          color: $primary-color;
        }
      }
    }
  }
}
